/* standard form style table */
table.adminform {
	background-color: #f5f5f5;
	border: solid 1px #d5d5d5;
	width: 100%;
	padding: 10px;
	border-collapse: collapse;
}

table.adminform tr.row0 {
	background-color: #f5f5f5;
}

table.adminform tr.row1 {
	background-color: #eeeeee;
}

table.adminform th {
	font-size: 12px;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	height: 25px;
	color: #ffffff;
	background: url(../images/background.gif);
	background-repeat: repeat;
}

table.adminform td {
	padding: 3px;
	text-align: left;
}

table.adminform td.editor {
	font-size: 9px;
}

table.cpanel {
	width: 600px;
	margin: 0;
	padding: 0;
	border: 0;
	margin-left: auto;
	margin-right: auto;
}

table.cpanel td {
	width: 33%;
	height: 100px;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}
/*
.main {
	border: 1px solid #d5d5d5;
	width: 98%;
}

DIV.selHolder {
	float: left;
	border: 3px solid #ccc;
	margin: 10px;
	padding: 5px;
}

BODY {
	margin: 10px;
	padding: 0;
	font: 1em "Trebuchet MS", verdana, arial, sans-serif;
	font-size: 100%;
}

H1 {
	margin-bottom: 2px;
	font-family: Garamond, "Times New Roman", Times, Serif;
}

DIV.selHolder {
	border: 3px solid #ccc;
	margin: 10px;
	padding: 5px;
}

TEXTAREA {
	width: 80%;
}

FIELDSET {
	border: 1px solid #ccc;
	padding: 1em;
	margin: 0;
}

LEGEND {
	color: #ccc;
	font-size: 120%;
}

INPUT,TEXTAREA {
	font-family: Arial, verdana;
	font-size: 125%;
	padding: 7px;
	border: 1px solid #999;
}

LABEL {
	display: block;
	margin-top: 10px;
}

IMG {
	margin: 5px;
}

SELECT {
	margin: 10px;
	width: 200px;
}
*/