html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol,ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort

body.sort-active *
        {
        cursor:wait;
        }
*/
h2 span {
	font-variant: small-caps;
}

p a {
	font-weight: normal;
	outline: none;
}

p a:link,p a:visited {
	color: #333;
	text-decoration: underline;
}

p a:hover {
	color: #fff;
	text-decoration: none;
	background: #000;
}

p a:active {
	color: #000;
	text-decoration: underline;
}

p {
	line-height: 1.6em;
	margin: 0 0 1em 0;
}

h1 {
	font-weight: lighter;
	font-family: georgia, times new roman, times, georgia, palatino, serif;
	text-align: center;
	margin-top: 0.6em;
	color: #000;
	font-size: 2em;
}

h2 {
	font-weight: lighter;
	font-family: verdana, arial, sans-serif;
	text-align: center;
	margin-top: 1em;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2em;
}

h2 span {
	font-variant: small-caps;
	text-transform: none;
}

table.main {
	width: 100%;
}

table {
	width: auto;
	padding: 0;
	margin: 0 auto 1.5em auto;
	border-top: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-collapse: collapse;
}

.cs1 {
	width: 30em;
}

.cs2 {
	width: 20em;
}

.cs1 td,.cs2 td,#scientificNotation {
	text-align: right;
}

caption {
	padding: 0 0 5px 0;
	margin: 0 auto;
	width: auto;
	font: italic 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

/*
th
        {
        font: bold 11px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border-top: 1px solid #C1DAD7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 8px 12px 4px 12px;
        background: #CAE8EA url(../images/table/header.jpg) repeat-x;
        vertical-align:middle;
        white-space: nowrap;
        }
*/
td.total {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

th.sortable,th.sortable-text,th.sortable-date,th.sortable-keep,th.sortable-date-dmy,th.sortable-numeric,th.sortable-currency,th.sortable-sortByTwelveHourTimestamp,th.sortable-sortIPAddress,th.sortable-sortEnglishLonghandDateFormat,th.sortable-sortScientificNotation,th.sortable-sortImage,th.sortable-sortFileSize,th.sortable-sortAlphaNumeric,th.sortable-sortEnglishDateTime
	{
	cursor: pointer;
	background: #CAE8EA url(../images/table/bg_header_sortable.jpg)
		no-repeat;
	padding: 8px 12px 4px 16px;
}

th.forwardSort {
	background: #CAE8EA url(../images/table/bg_header_down.jpg) no-repeat 0
		0;
}

th.reverseSort {
	background: #CAE8EA url(../images/table/bg_header_up.jpg) no-repeat 0 0;
}

table thead th.forwardSort a,table thead th.reverseSort a {
	color: #000;
	text-decoration: none;
}

/*
These styles should be added when very long tables are expected
th.sort-active
        {
        background:#CAE8EA url(../images/table/bg_header_sorting.jpg) no-repeat 0 0;
        cursor:wait;
        }
th.sort-active a
        {
        color:#a80000 !important;
        cursor:wait;
        }
*/
th a {
	text-decoration: none;
	color: #4f6b72;
	background: transparent;
}

td a {
	text-decoration: none;
	color: #239;
	background: transparent;
}

/* removed for calendar img
td img
        {
        margin:0 auto;
        border:3px solid #ddd;
        }
*/
td a:hover {
	color: #a84444;
	background: transparent;
}

td {
	font: normal 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 4px 12px 4px 4px;
	color: #4f6b72;
	white-space: nowrap;
}

td.lft {
	text-align: left;
}

tr.alt {
	background: #F5FAFA;
	color: #797268;
}

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */ /*
tr[class="alt"] td
        {
        background: #F5FAFA url(../images/table/td_alt.jpg) no-repeat;
        }
td[class~="alt"]
        {
        background: #edf3f3 url(../images/table/col_alt.jpg) no-repeat !important;
        }
*/
	/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
	/*
tbody tr.alt td:first-child
        {
        background: #F5FAFA url(../images/table/bullet2.gif) no-repeat;
        font-weight:bold;
        }
tbody tr td:first-child
        {
        background: #fff url(../images/table/bullet1.gif) no-repeat;
        font-weight:bold;
        }
*/ /* Image free rules for Internet Explorer < 7 */
* html tr.alt td {
	background-color: #F5FAFA;
}

* html tr td.alt,* html tr.alt td.alt {
	background-color: #edf3f3;
}

/* Font for text based hyperlinks in [brackets] */
.textlink {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* tables */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th,table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #CDCDCD;
	font-size: 8pt;
	padding: 4px;
	width: 100%;
	padding: 5px 18px 5px 5px;
}

table.tablesorter thead tr .header {
	background-image: url(../images/sort_bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/sort_asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/sort_desc.gif);
}

table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp
	{
	background-color: #8dbdd8;
}

.treeview,.treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(/public/jquery-treeview/images/treeview-default.gif)
		-64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float: none;
}

.treeview li {
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol {
	margin: 1em 0;
	display: none;
}

.treeview .hover {
	color: red;
	cursor: pointer;
}

.treeview li {
	background:
		url(/public/jquery-treeview/images/treeview-default-line.gif) 0 0
		no-repeat;
}

.treeview li.collapsable,.treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
	background-image:
		url(/public/jquery-treeview/images/treeview-default.gif);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px
}

.treeview li.lastExpandable {
	background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea
	{
	background-position: 0;
}

.treeview-red li {
	background-image:
		url(/public/jquery-treeview/images/treeview-red-line.gif);
}

.treeview-red .hitarea,.treeview-red li.lastCollapsable,.treeview-red li.lastExpandable
	{
	background-image: url(/public/jquery-treeview/images/treeview-red.gif);
}

.treeview-black li {
	background-image:
		url(/public/jquery-treeview/images/treeview-black-line.gif);
}

.treeview-black .hitarea,.treeview-black li.lastCollapsable,.treeview-black li.lastExpandable
	{
	background-image: url(/public/jquery-treeview/images/treeview-black.gif)
		;
}

.treeview-gray li {
	background-image:
		url(/public/jquery-treeview/images/treeview-gray-line.gif);
}

.treeview-gray .hitarea,.treeview-gray li.lastCollapsable,.treeview-gray li.lastExpandable
	{
	background-image: url(/public/jquery-treeview/images/treeview-gray.gif);
}

.treeview-famfamfam li {
	background-image:
		url(/public/jquery-treeview/images/treeview-famfamfam-line.gif);
}

.treeview-famfamfam .hitarea,.treeview-famfamfam li.lastCollapsable,.treeview-famfamfam li.lastExpandable
	{
	background-image:
		url(/public/jquery-treeview/images/treeview-famfamfam.gif);
}

.filetree li {
	padding: 3px 0 2px 16px;
}

.filetree span.folder,.filetree span.file {
	padding: 1px 0 1px 16px;
	display: block;
}

.filetree span.folder {
	background: url(/public/jquery-treeview/images/folder.gif) 0 0 no-repeat
		;
}

.filetree li.expandable span.folder {
	background: url(/public/jquery-treeview/images/folder-closed.gif) 0 0
		no-repeat;
}

.filetree span.file {
	background: url(/public/jquery-treeview/images/file.gif) 0 0 no-repeat;
}

/******* LOADING *******/
#loader {
	display: none;
	position: absolute;
	left: 10px;
	top: 10px;
	background: url(../images/spinner.gif);
	width: 16px;
	height: 16px;
	text-indent: -9999em;
}

#wrapper {
	width: auto;
	position: relative;
}

/******* /LOADING *******/
.generalbox {
	border: 1px solid #C1DAD7;
	margin: 0 10px 0 10px;
}

legend {
	margin: 0 0;
	padding: 0;
	border: 0;
}

/*
.fs {
	text-align: left;
	width: 680px;
	padding: 5px;
	border: 2px solid #F3F3F3;
	border-top-color: #8F8F8F;
	border-left-color: #8F8F8F;
	margin: 0 auto 10px auto;
	background: #FFF;
}
*/
fieldset {
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 7px;
	border-radius: 3px;
}

.gfs {
	zoverflow: auto;
	padding: 0 5px 0 5px;
	border: .1em solid #777;
	width: 100%;
}

.gl {
	margin: 0;
	padding: 0 0 0 5px;
	line-height: 166%;
	font-weight: bold;
	background-color: #CCC;
	border: 1px #777 solid;
	display: block;
	width: 220px;
}

.nt {
	margin: 0;
	padding: 0;
	border: 0;
}

/**** SORTABLE ****/
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1em;
	height: 15px;
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

.vert {
	position: absolute;
	top: 30px;
	/*	#top:10px;*/
	width: 4px;
	border-right: 1px dotted red;
}

.txtmaxsize {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	width: 250px;
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

label.error {
	color: red;
	font-style: italic;
}


.jsddm {
	margin: 0;
	padding: 0;
}

.jsddm li {
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

.jsddm li a {
	display: block;
	padding: 2px 5px 4px;
	text-decoration: none;
	width: 20px;
	white-space: nowrap;
}

.jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border: 1px black solid;
}

.jsddm li ul li {
	float: none;
	display: inline;
}

.jsddm li ul li a {
	width: auto;
	background: #ffffff;
}

.jsddm li ul li a:hover {
	background: #cccccc;
}
